@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{

  --primary:#1aac83;
  --error:#e7195a;
}

body{

  background-color: #f1f1f1;
  margin: 0;
  font-family:"Lato", sans-serif;

}

header{

  background-color: #fff;
 text-align: center;
 padding: 10px;
}

header.container{

  max-width: 1400px;
  padding:  30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

header a{

  color:#333;
  text-decoration: none;
}

.pages{

  max-width:1400px;
  padding: 20px;
  margin: 0 auto;
}

.home{

  display:grid;
  grid-template-columns: 3fr 1fr;
  gap:100px;
  margin-left: 3rem
 
}

.workout-detail{

background-color: #fff;
border-radius: 4px;
margin: 20px auto;
padding: 20px;
position: relative;
box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.workout-detail h4{

  margin: 0 0 10px 0;
  font-size: 1.2rem;
  color:var(--primary)
}

.workout-detail p{

  margin: 0;
  font-size:0.9rem;
  color:#555
}

.workout-detail span{

  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background-color:var(--primary);
  padding: 8px;
  border-radius: 50%;
  color: #fff;

}

label{

  display: block;
}

input{

  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width:100%;
  border:1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button
{
  background:var(--primary);
  border: 0;
  color: #fff;
  padding: 12px;
  font-family: "poppins";
  border-radius: 4px;
  cursor: pointer;

}

div.error
{
  padding: 10px;
  background-color: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error
{
  border:1px solid var(--error);
  /* color: var(--primary); */

}
span
{
  border:0;
  background: #1aac83;
}